<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codigo.labplc.mx.eventario"
    android:versionCode="6"
    android:versionName="1.1.5" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <permission
        android:name="codigo.labplc.mx.traxi.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="codigo.labplc.mx.traxi.maps.googlev2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="codigo.labplc.mx.eventario.Eventario"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDP5YdlgxuT2lVPkxkhGMxWmgzv5GT-oQY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="codigo.labplc.mx.eventario.Eventario_main"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>

        <service android:name="codigo.labplc.mx.eventario.servicio.ServicioGeolocalizacion" />

        <activity
            android:name="codigo.labplc.mx.eventario.configuracion.Configuracion_activity"
            android:configChanges="orientation"
            android:label="@string/title_activity_configuracion_activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name="codigo.labplc.mx.eventario.detalles.Detalle_evento_Activity"
            android:configChanges="orientation"
            android:label="@string/title_activity_detalle_evento_"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="codigo.labplc.mx.eventario.detalles.mapa.Mapa_llegar_evento"
            android:configChanges="orientation"
            android:label="@string/title_activity_mapa_llegar_evento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="codigo.labplc.mx.eventario.web.PaginaWebEvento"
            android:configChanges="orientation"
            android:label="@string/title_activity_pagina_web_evento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="codigo.labplc.mx.eventario.splash.SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
             android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>